<html>
<body>
    <h1>Tasks</h1>
    <div id="spinner">loading...</div>
    <ul id="task-list">
    </ul>
    <form id="task-form" action="">
        <input type="text" id="task-input" placeholder="Add a task...">
        <button type="submit">Add</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        show_progress = function() {
            $('#spinner').show("fast");
        }
        hide_progress = function() {
            $('#spinner').hide("fast");
        }
        add_task = function(task) {
            console.info(task)
            $('#task-list').append(
                '<li><input type="checkbox" ' + (task.done ? 'checked' : '') + ' />'
                + '<input type="hidden" name="task_id" value="' + task.id + '" />'
                + task.title + '<button class="delete">delete</button></li>'
            )
        }
        $(function() {
            BASE_URL = 'http://localhost:8080/api';

            // get all tasks
            $.ajax({
                url: BASE_URL + '/tasks',
                success: function(data) {
                    $('#task-list').empty();
                    data.forEach(function(task) {
                        add_task(task);
                    });
                    hide_progress();
                }
            });

            // Add task
            $('#task-form').on('submit', function() {
                show_progress();
                $.ajax({
                    url: BASE_URL + '/tasks',
                    method: 'POST',
                    dataType: "json",
                    data: JSON.stringify({
                        title: $('#task-input').val()
                    }),
                    success: function(data) {
                        add_task(data);
                        hide_progress();
                    }
                });
                return false;
            });

            // Delete task
            $('#task-list').on('click', '.delete', function() {
                var item_to_delete = $(this).parent();
                show_progress();
                $.ajax({
                    url: BASE_URL + '/tasks/' + $(this).parent().find('input[name="task_id"]').val(),
                    method: 'DELETE',
                    success: function() {
                        item_to_delete.remove();
                        hide_progress();
                    }
                });
            });

            // Toggle task as completed
            $('#task-list').on('click', 'input[type="checkbox"]', function() {
                show_progress();
                var id = $(this).parent().find('input[name="task_id"]').val();
                $.ajax({
                    url: '/api/tasks/' + id,
                    type: 'PATCH',
                    dataType: "json",
                    data: JSON.stringify({
                        done: $(this).prop('checked') ? 1 : 0
                    }),
                    success: function() {
                        hide_progress();
                    }
                });
            });
        });
    </script>
</body>
</html>